<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-center">
      <p class="lead" style="color: #84A8CA;">
      <i class="fa fa-quote-left"></i>  깨끗하게  <i class="fa fa-quote-right"></i>
      </p>
      </div>
  <div class="panel-body text-center">
     <br>
     <br>         
    <p>서울대학교 화장실은 빡빡한 학문의 전당 속에서 근심을 해결하고 우울한 기분을 풀 수 있는 곳 이다.</p>
    <p>이러한 장소를 모두가 기분 좋게 사용하기 위해 나는 이 ‘프레샤 선언문’을 엄숙히 선언합니다.</p>
</p>
  </div>
  <br><br>

  <!-- List group -->
  <ul class="list-group">
     <em>
    <li class="list-group-item">나는 일생을 의롭게 살며 화장실을 청결하게 사용 할 것을 선서합니다.</li>
    <li class="list-group-item">나는 화장실 청결에 해로운 일은 어떤 상황에서나 하지 않겠습니다.</li>
    <li class="list-group-item">나는 화장실 수준을 높이기 위하여 전력을 다하겠으며 화장실을 사용하면서 알게 된 개인의 사정은 비밀로 하겠습니다.</li>
    <li class="list-group-item">나는 성심으로 학교 환경미화원들의 노고에 감사하며 그들을 존중하겠습니다.</li>
    <li class="list-group-item">나는 고귀한 화장실 휴지를 개인적으로 어긋나게 쓰지 않겠습니다.</li>
    </em>
  </ul>
</div>