  <div class="row">
    <div class="col-md-3 col-md-offset-10"><a href='/rank'>랭킹</a></div>
  </div>
<h3><%= link_to '평가하기', colleges_select_path %></h3>

<% @buildings.each do |b| %>
    <%= link_to(b.bname, b) %>
<% end %>
