<h1>랭킹</h1>

<% @rank.each_with_index do |building, index| %>
    <div class="rank-box well well-small">
        <div class="row">
            <div class="col-xs-2">
                <%=index+1%>위
            </div>
            <div class="col-xs-10">
                <%= link_to(building.bname, building) %><br>
            </div>
        </div>
    </div>
<% end %>
