<h1>검색</h1>
<div>
  <form action:'/search'>
  <input type='string' name='search' placeholder='입력'>
  <input type='submit'>
  </form>
</div>
<% @search.each do |building| %>
  <%= link_to(building.bname, building) %><br>
<% end %>