<% @buildings.each do |b| %>
<div class="row">
    <div class="col-md-6">
        <ul>
	        <li><%=b.bname%></li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
	        <% @loos.each do |l| %>
	            <% if b.bname==l.bname %>
	            <li><%=l.floor%></li>
	            <% end %>
	        <% end %>
        </ul>
    </div>
</div>
<% end %>