<% @buildings.each do |b| %>
	<p class="text-center">
		<%= link_to b.bname, building_path(b.slug, from: 'colleges', from_college: @college.slug), role: 'button', class: 'btn btn-default btn-lg btn-block building-button', style: 'color: #828282;' %>
	</p>
<% end %>