<ul>
	<% @colleges.each do |c| %>
		<p class="text-center">
			<%= link_to c.cname, buildings_select_path(c.id), role: 'button', class: 'btn btn-default btn-lg btn-block' %>
			<!--<a href='/choose' class="btn btn-default btn-lg btn-block" role="button"><%=c.cname%></a>-->
		</p>
	<% end %>
</ul>